django>=4.2,<5.0
dj-database-url>=2.1,<3.0
djangorestframework>=3.14,<3.16 # For building APIs
djangorestframework-simplejwt>=5.3,<5.4 # For JSON Web Token authentication
django-cors-headers>=4.0,<5.0
psycopg2-binary>=2.9,<3.0
python-dotenv>=1.0,<2.0
gunicorn>=21.0,<22.0
bcrypt>=4.1,<4.2
google-genai>=1.15.0,<1.16.0
textract>=1.6.5 # For extracting text from various file types (PDF, DOCX, etc.)